<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/custom.css">


</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">2016 Presidential Candidates on Twitter</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">
      
      <div class="col-sm-2">
        <div class="row">
          
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Tweets with Mentions <span><a href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a></span>
              </div>
              <div class="chart-stage">
                <div id="number-chart">
                </div>                
              </div>
            </div>
          </div>
          
        </div>

        <div class="row">
          
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Minutes Collected
              </div>
              <div class="chart-stage">
                <div class='mins-count'>
                 <span class='filter-count'></span>
                 / <span class='total-count'></span> minutes.
                </div>
              </div>
              <div class="chart-notes">
	               Click and drag on bottom graph to filter by time.		
              </div>
            </div>
          </div>
          
        </div>

        
        <div class="row">
          <div class="col-sm-12">


            <div class="chart-wrapper">
              <div class="chart-title">
                Totals By Candidates
              </div>
              <div class="chart-stage">
                <div id="cand-chart">
                  <span class='small text-muted' style='display: none;'>
                      Current filter: <span class='filter'></span>
                  </span>
                </div>
              </div>
 	          <div class="chart-notes">
		          Click on candidate name to see individual series.
            </div>
            </div>


          </div>
        </div>
      </div>
      <div class="col-sm-10">
        <div class="chart-wrapper">
          <div class="chart-title">
            Number of Tweets Collected for 12 Minutes Each Hour
          </div>
          <div class="chart-stage">
            <div id="cand-series-chart">
            </div>
          </div>
          
          <div class="chart-stage">
            <div id="time-chart">
            </div>
          </div>
          <div class="chart-notes">
            Each point is equal to the total number of tweets that mentioned the given candidate during 12 minutes of the hour.
	          Tweets are sampled from minute 5 to 16 inclusive of every hour. Roll over candidate name to highlight individual series.   
            <br>This captures candidate "mentions" as opposed to mentions of official campaign account only.
          </div>
        </div>
      </div>
      
    </div>
    
   
    <div class="row">

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">
            Most Common Hashtags
          </div>
          <div class="chart-stage">  
            <div id="tag-chart">
            </div>
          </div>
          <div class="chart-notes">
            Top 30 hashtags used in tweets that mention candidates.
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">
            Most Common Users
          </div>
          <div class="chart-stage">  
            <div id="user-chart">
            </div>
          </div>
          <div class="chart-notes">
            Top 30 users who post tweets.
          </div>
        </div>
      </div>

<!--

      <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Minutes
          </div>
          <div class="chart-stage">
            <div class='mins-count'>
             <span class='filter-count'></span>
             selected out of <span class='total-count'></span> minutes.
            </div>
          </div>
        </div>
      </div>
      
    </div>   
      
      <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">

          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
    </div>
  
-->
  </div>




    <hr>
    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>


  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/queue.js"></script>


  <script src="./static/lib/js/keen.min.js"></script>
  <script src='./static/js/graphs.js' type='text/javascript'></script>
</body>
</html>
